body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: auto;
}

.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f9abe7;
    color: white;
}

.btn {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.btn-primary {
    background-color: #e1a9f6;
    color: white;
    margin-right: 5px; /* Adjust the margin as needed */
}

.btn-danger {
    background-color: #faa0a0;
    color: white;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 50%;
    margin: 100px auto;
}

.modal table {
    width: 100%;
}

.modal th,
.modal td {
    padding: 10px;
}

.modal th {
    background-color: #f9abe7;
    color: white;
}